#cloud2 {
  position: absolute;
  right: 0;
}

#cloud3 {
  position: absolute;
  top: 1550px;
}

#house {
  height: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: brown;
  z-index: 200;
}

#house2 {
  position: absolute;
  left: -250px;
  top: 500px;
}

#house3 {
  position: absolute;
  right: -250px;
  top: 1000px;
}

#people_talking {
  position: absolute;
  right: 0;
  top: 1800px;
}

#driveway {
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}

#road {
  height: 4000px;
  width: 500px;
  background: url(/assets/img/road.png) repeat;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

figure#bus {
  width: 150px;
  height: 450px;
  color: black;
  position: fixed;
  top: 20px;
}

.bus_figure {
  height: 500px;
  margin-left: -140px;
}

.small_image {
  width: 200px;
}

.medium_image {
  width: 500px;
}

#school {
  background-color: #8ba341;
  //height: 1000px;
  text-align: center;
}

.bus_stop_image {
  margin-left: -200px;
  margin-bottom: -50px;
  width: 1350px;
}

.bottom_image {
  margin-bottom: 1200px;
  width: 800px;
  margin-top: -350px;
  margin-bottom: -100px;
}