#cloud2 {
  position: absolute;
  right: 0;
}

#cloud3 {
  position: absolute;
  top: 1550px;
}

#house {
  height: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: brown;
  z-index: 200;
}

#house2 {
  position: absolute;
  left: -50px;
  top: 500px;
}

#house3 {
  position: absolute;
  right: -50px;
  top: 1000px;
}

#driveway {
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}

#road {
  height: 4000px;
  width: 500px;
  background: url(/assets/img/road.png) repeat;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

figure#bus {
  width: 150px;
  height: 450px;
  color: black;
  position: fixed;
  top: 200px;
}

.bus_figure {
  height: 500px;
  margin-left: -140px;
}

.small_image {
  width: 200px;
}

.medium_image {
  width: 500px;
}