html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-align: center;
  font-family: adrianna-extended-1,adrianna-extended-2, sans-serif;
  font-size: 72px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 72px;
}

h2 {
  text-align: center;
  font-family: baskerville, caslon, serif;
  color: #111;
  text-transform: none;
  font-weight: 100;
  font-size: 26px;
  font-style: italic;
  margin: 0 0 10px 0;
}

h3 {
  position: relative;
  text-align: center;
  font-family: adrianna-extended-1,adrianna-extended-2, sans-serif;
  font-size: 20px;
  color: #111;
  font-weight: 500;
  letter-spacing: 1px;
}

h3#title {
  font-size: 20px;
  color: #111;
  margin: 70px 0 0 0;
  z-index: 1000;
}

p {
  font-size: 19px;
  line-height: 26px;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Georgia, Times;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  overflow: hidden;
  min-width: 800px;
}

section {
  margin: 0;
}

section#intro {
  background: #79c5ce;
  height: 1600px;
  width: 100%;
  padding: 200px 0 0 0;
  position: relative;
  z-index: 200;
}

section#bus_stop {
  position: relative;
  background: #8ba341;
  height: 3400px;
  width: 100%;
  z-index: -1;
}

section#between_sky {
  background-color: #7D9338;
  z-index: 200;
}

article {
  position: absolute;
  background: #fff;
  padding: 30px;
  left: 50%;
  text-align: center;
  z-index: 900;
}

article.description {
  margin: 200px 0 0 -242px;
  width: 425px;
  border: 1px #fff solid;
  outline: 10px #222 solid;
  background: #222;
  color: #fff;
}

article.left_description {
  margin: 200px 0 0 -242px;
  width: 425px;
  border: 1px #fff solid;
  outline: 10px #222 solid;
  background: #222;
  color: #fff;
  left: 300px;
}

article.right_description {
  margin: 200px 0 0 -242px;
  width: 425px;
  border: 1px #fff solid;
  outline: 10px #222 solid;
  background: #222;
  color: #fff;
  left: 80%;
}

article#ell_description3 {
  margin-top: 600px;
}

article.description h3,
article.left_description h3,
article.right_description h3 {
  color: #fff;
}

figure {
  z-index: 101;
}